#info{

    margin-top:50px;
    margin-left: 20%;
    margin-right:30%;
    position:absolute;


    background-color: #9cdaf8;
    background-image: linear-gradient(315deg, #9cdaf8 0%, #98fcbd 74%);



    width:30%;

    padding:25px;

}
#apis{
    margin-top:8%;
    margin-left: 200px;
    padding: 25px;
    background-color: #9cdaf8;
    background-image: linear-gradient(315deg, #9cdaf8 0%, #98fcbd 74%);
    border-radius: 30px;
    box-shadow: 10px 10px 8px #888888;
    width:400px;
}
#bang{
    text-align: left;


    margin-left: 175px;







}
.text1{
    margin:30px 10px 10px 30px;
    color: #f7f7f7;
    font-size:40px;
    max-width:500px;
    font-family: 'Open Sans'


}
.text{
    margin:30px 10px 10px 30px;
    color: #f7f7f7;
    max-width:500px;
    font-family: 'Open Sans'


}
#field{

    margin-left: 30%;
    margin-top:70%;
    margin-bottom: 40%;


}
#right{



}
#noob{margin-left: 30px;




}
text{
 font-family: "sans-serif";
 margin: 60px;





}