<html>
    <form action="/home/newWebinar" method="POST">
        <input type="text" name="name">
        <input type="text" name="eventDate">
        <input type="text" name="description">
        <button type="submit">Submit</button>
    </form>
</html>